<nav class="navbar navbar-expand-lg px-0 px-md-3 px-lg-4">
	<div class="container-fluid">
		<a class="navbar-brand d-flex align-items-center" href=" {{ path('app_home') }} ">
			<img src="{{ asset('build/images/logo.svg') }}" alt="logo sport center" class="me-2 pb-2 logo">
			<p class="brand-name mb-0">
				SPORT
				<br/>
				<span class="center-name">
					CENTER
				</span>
			</p>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul
				class="navbar-nav ms-auto mb-3 mb-lg-0">


				{# ///// Menu for Commercial + Admin //// #}
				{% if (is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_ADMIN')) and app.user.isActive == true %}
					<li class="nav-item me-3 {{ (route_name starts with 'app_dashboard') ? 'active' : '' }}">
						<a class="nav-link" href="{{ path('app_dashboard') }}">Dashboard</a>
					</li>
					<li class="nav-item me-3 {{ (route_name starts with 'app_feature') ? 'active' : '' }}">
						<a class="nav-link" href="{{ path('app_feature') }}">Fonctionnalités</a>
					</li>
					<li class="nav-item dropdown me-3 {{ (route_name starts with 'app_user' or route_name starts with 'app_manager-structure' or route_name starts with 'app_manager-franchise' or route_name starts with 'app_commercial') ? " active" : " " }}">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Utilisateurs
						</a>
						<ul class="dropdown-menu dropdown-menu-right">
							{% if is_granted('ROLE_ADMIN') %}
								<li>
									<a class="dropdown-item" href="{{ path('app_user') }}">Tous les utilisateurs</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_commercial') }}">Commerciaux</a>
								</li>
							{% endif %}
							<li>
								<a class="dropdown-item" href="{{ path('app_manager-franchise') }}">Responsables Franchises</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_manager-structure') }}">Managers Structure</a>
							</li>
						</ul>
					</li>
					<li class="nav-item me-3 {{ (route_name starts with 'app_franchise') ? 'active' : '' }}">
						<a class="nav-link" href="{{ path('app_franchise') }}">Franchises</a>
					</li>
					<li class="nav-item me-3 {{ (route_name starts with 'app_structure') ? 'active' : '' }}">
						<a class="nav-link" href="{{ path('app_structure') }}">Structures</a>
					</li>
				{% endif %}
				{# ///// End Menu for Commercial + Admin  //// #}


				{# ///// Menu for manager franchise //// #}
				{% if is_granted('ROLE_MANAGER_FRANCHISE') and app.user.isActive == true %}
					<li class="nav-item me-3 {{ (route_name starts with 'app_franchise_show') ? 'active' : '' }}">
						<a class="nav-link" href="{{ path('app_franchise_show', {'slug': app.user.franchise.slug}) }}">Franchise</a>
					</li>
					{% if app.user.franchise.structure|length > 0 %}
						<li class="nav-item dropdown me-3 {{ (route_name starts with 'app_structure_show') ? " active" : " " }}">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Structures
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								{% for structure in app.user.franchise.structure %}
									<li>
										<a class="dropdown-item" href="{{ path('app_structure_show', {'slug': structure.slug}) }}">{{structure.name}}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}
				{% endif %}
				{# ///// End Menu for Manager Franchise //// #}


				{# ///// Menu for Manager Structure //// #}
				{% if is_granted('ROLE_MANAGER_STRUCTURE') and app.user.isActive == true %}
					<li class="nav-item me-3 {{ (route_name starts with 'app_structure_show') ? 'active' : '' }}">
						<a class="nav-link" href="{{ path('app_structure_show', {'slug': app.user.structure.slug}) }}">Structure</a>
					</li>
				{% endif %}
				{# ///// End Menu for manager structure //// #}


				{# ///// Menu for all Active Users //// #}
				{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.isActive == true %}
					<li class="nav-item dropdown me-3 {{ route_name starts with 'app_new-password' or route_name starts with 'app_profile_edit' ? " active" : " " }}">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Mon Compte
						</a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li>
								<a class="dropdown-item" href="{{ path('app_profile_edit', {'slug': app.user.slug}) }}">Mes informations</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_new-password') }}">Changer de mot de passe</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li class="nav-item me-3 mt-3 mt-lg-0">
								<a href=" {{ path('app_logout') }} " class="dropdown-item">Déconnexion</a>
							</li>
						</ul>
					</li>
				{% endif %}
				{# ///// End Menu for all Active Users //// #}


				{# ///// Menu for all Users Not Authenticated //// #}
				{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
					<li class="nav-item mt-3 mt-lg-0">
						<a href=" {{ path('app_login') }} " class="btn btn-primary text-white">Connexion</a>
					</li>
				{% endif %}
				{# ///// End Menu for all Users Not Authenticated //// #}


				{# ///// Menu for all Not Active Users //// #}
				{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.isActive == false %}
					<li class="nav-item mt-3 mt-lg-0">
						<a href=" {{ path('app_logout') }} " class="btn btn-primary text-white">Déconnexion</a>
					</li>
				{% endif %}
				{# ///// End Menu for all Not Active Users //// #}
			</ul>
		</div>
	</div>
</nav>
