{# create a queryString for pagination links #}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajax")|url_encode %}

{% set maxPages = (total / limit)|round(0, 'ceil') %}

<nav aria-label="Page navigation" class="mb-5">
	<ul class="pagination justify-content-center">
		<li class="page-item {{ currentPage == 1 ? 'disabled' : '' }}">
			<a class="page-link fw-bolder" href="?{{ queryString ? queryString ~ '&' : ''}}page=1">
				&nbsp < < &nbsp
			</a>
		</li>
		<li class="page-item {{ currentPage == 1 ? 'disabled' : '' }}">
			<a class="page-link fw-bolder" href="?{{  queryString ? queryString ~ '&' : '' }}{{ currentPage == 1 ? 'page=1' : 'page=' ~ (currentPage - 1) }}" tabindex="-1" aria-disabled="true">
				&nbsp < &nbsp
			</a>
		</li>


		{% if maxPages <= 3  %}
			{% set minItem, maxItem = 1, maxPages %}
		{% else %}
			{% set maxItem = currentPage + 1 < maxPages ? currentPage + 1 : maxPages %}
			{% set minItem = currentPage - 1 > 0 ? currentPage - 1 : 1 %}
		{% endif %}
		{# <pre>
										{{ dump(maxPages) }}
									</pre> #}
		{# {% for item in 1..maxPages %} #}
		{% for item in minItem..maxItem %}
			{# {% set maxPageItem = item + 3 %}
																																																												{% set currentPage = item + 3 %} 
																																																												{% for item in 1..(item + 3) %} #}
			<li class="page-item {{ item == currentPage ? 'active disabled' : '' }}">
				<a class="page-link" href="?{{ queryString ? queryString ~ '&' : '' }}page={{ item }}">{{ item }}</a>
				{# <pagination class="pagination-sm page-link" total-items="1000" items-per-page="3" max-size="3" href="?{{ queryString ? queryString ~ '&' : '' }}page={{ item }}">{{ item }}</pagination> #}
			</li>
		{% endfor %}
		<li class="page-item {{ currentPage == maxPages ? 'disabled' : '' }}">
			<a class="page-link fw-bolder" href="?{{ queryString ? queryString ~ '&' : '' }}{{ currentPage == maxPages ? 'page=' ~ maxPages : 'page=' ~ (currentPage + 1) }}">
				&nbsp > &nbsp
			</a>
		</li>
		<li class="page-item {{ currentPage == maxPages ? 'disabled' : '' }}">
			<a class="page-link fw-bolder" href="?{{ queryString ? queryString ~ '&' : '' }}{{'page=' ~ maxPages }}">
				&nbsp > > &nbsp
			</a>
		</li>
	</ul>
	{# <input type="hidden" name="currentPage" id="current-page" value="{{ currentPage }}"> #}
</nav>
