{{ form_start(form, {'attr': {'class': 'form-control, bg-secondary', novalidate: 'novalidate'}}) }}
{{ form_errors(form) }}
<div class="row mb-5">
	<div class="col-12 mb-4">
		<h2 class="fs-3 py-3 ps-3 text-primary linear-gradient">Manager de la structure</h2>
	</div>
	<div class="col-12 col-md-6 mb-3">
		<label for="structure_manager_lastname" class="form-label">Nom</label>
		{{ form_widget(form.manager.lastname) }}
		<div class="form-error">
			{{ form_errors(form.manager.lastname) }}
		</div>
	</div>
	<div class="col-12 col-md-6 mb-3">
		<label for="structure_manager_firstname" class="form-label">Prénom</label>
		{{ form_widget(form.manager.firstname) }}
		<div class="form-error">
			{{ form_errors(form.manager.firstname) }}
		</div>
	</div>
	<div class="col-12 col-md-6 mb-3">
		<label for="structure_manager_email" class="form-label">Email</label>
		{{ form_widget(form.manager.email) }}
		<div class="form-error">
			{{ form_errors(form.manager.email) }}
		</div>
	</div>
	<div class="col-12 col-md-6 mb-3">
		<label for="structure_manager_phone" class="form-label">Téléphone portable</label>
		{{ form_widget(form.manager.phone) }}
		<div class="form-error">
			{{ form_errors(form.manager.phone) }}
		</div>
	</div>
</div>
<div class="row mb-5">
	<div class="col-12 mb-4">
		<h2 class="fs-3 py-3 ps-3 text-primary linear-gradient">Informations de la structure</h2>
	</div>

	<div class="col-12 col-md-6 mb-3">
		<label for="structure_name" class="form-label">Nom</label>
		{{ form_widget(form.name) }}
		<div class="form-error">
			{{ form_errors(form.name) }}
		</div>
	</div>

	{% if opt == 'edit-item' %}
		<div class="col-12 col-md-6 mb-3">
			<label for="structure_isActive" class="form-label">Status de la structure</label>
			<div class="py-2">
				{{ form_widget(form.isActive) }}
			</div>
		</div>
	{% endif %}

	<div class="col-12 mb-3">
		<label for="structure_description" class="form-label">Description</label>
		{{ form_widget(form.description) }}
		<div class="form-error">
			{{ form_errors(form.description) }}
		</div>
	</div>
	<div class="col-12 mb-3">
		<label for="structure_address" class="form-label">Adresse</label>
		{{ form_widget(form.address) }}
		<div class="form-error">
			{{ form_errors(form.address) }}
		</div>
	</div>
	<div class="col-12 col-md-6 mb-3">
		<label for="structure_postCode" class="form-label">Code postal</label>
		{{ form_widget(form.postCode) }}
		<div class="form-error">
			{{ form_errors(form.postCode) }}
		</div>
	</div>
	<div class="col-12 col-md-6 mb-3">
		<label for="structure_city" class="form-label">Ville</label>
		{{ form_widget(form.city) }}
		<div class="form-error">
			{{ form_errors(form.city) }}
		</div>
	</div>
	<div class="col-12 col-md-6 mb-3">
		<label for="structure_phone" class="form-label">Téléphone</label>
		{{ form_widget(form.phone) }}
		<div class="form-error">
			{{ form_errors(form.phone) }}
		</div>
	</div>
	<div class="col-12 col-md-6 mb-3">
		<label for="structure_franchise" class="form-label">Nom de la franchise</label>
		{% if opt == 'edit-item' %}
			<div class="py-2">
				{{ structure.getFranchise()|upper}}
			</div>
		{% else %}
			<div id="select-wrapper">
				{{ form_widget(form.franchise) }}
				<div class="form-error mb-2">
					{{ form_errors(form.franchise) }}
				</div>
			{% endif %}
		</div>
	</div>
	<div class="col-12 mt-5 mb-4">
		<h2 class="fs-3 py-3 ps-3 text-primary linear-gradient">Options de la structure</h2>
	</div>
	<div class="form-error mb-2">
		{{ form_errors(form.feature) }}
	</div>
	<div class="wrapper-loader-permissions d-none w-100 mb-5">
		<span class="loader-permissions"></span>
	</div>
	{% if opt == 'new-item' %}
		{% include'pages/structure/_form-new-permissions.html.twig'%}
	{% else %}
		{% include'pages/structure/_form-edit-permissions.html.twig'%}
	{% endif %}
	{{ form_rest(form) }}

</div>
<div class="row mt-5 mb-3">
	<div class="col-6 col-lg-2 offset-lg-8 d-flex justify-content-end">
		<a type="button" href="{{ path('app_structure') }}" class="btn btn-secondary justify-content-center pe-3 w-100">
			Annuler
		</a>
	</div>
	<div class="col-6 col-lg-2 d-flex justify-content-end">
		<button class="btn btn-primary justify-content-center w-100">
			{{ button_text }}
		</button>
	</div>
</div>
{{ form_end(form) }}
