{% extends 'base.html.twig' %}

{% block title %}Ajouter une structure - Sport Center
{% endblock %}

{% block body %}
	<main class="structure_page_form container">
		<div class="wrapper bg-secondary mb-5 pb-3 pb-sm-4 pb-lg-5 px-3 px-sm-4 px-lg-5">
			<div class="row">
				<div class="col-12 d-flex justify-content-center">
					<h1 class="py-5 text-uppercase">Ajouter une structure</h1>
				</div>
			</div>
			{{ form_start(form, {'attr': {'class': 'form-control, bg-secondary'}}) }}
			{{ form_errors(form) }}
			<div class="row">
				<div class="col-12 mb-3">
					<h2 class="mb-5 fs-3 py-3 ps-3 text-primary linear-gradient">Manager de la structure</h2>
				</div>
				<div class="col-12 col-md-6 mb-3">
					<label for="structure_manager_lastname" class="form-label">Nom</label>
					{{ form_widget(form.manager.lastname) }}
				</div>
				<div class="col-12 col-md-6 mb-3">
					<label for="structure_manager_firstname" class="form-label">Prénom</label>
					{{ form_widget(form.manager.firstname) }}
				</div>
				<div class="col-12 col-md-6 mb-3">
					<label for="structure_manager_email" class="form-label">Email</label>
					{{ form_widget(form.manager.email) }}
				</div>
				<div class="col-12 col-md-6 mb-3">
					<label for="structure_manager_phone" class="form-label">Téléphone portable</label>
					{{ form_widget(form.manager.phone) }}
				</div>
				{# <div class="col-12 col-md-6 mb-3">
																													<label for="structure_manager_password" class="form-label">Mot de passe</label>
																													{{ form_widget(form.manager.password) }}
																												</div> #}

			</div>
			<div class="row">
				<div class="col-12 mb-3">
					<h2 class="my-5 fs-3 mb-5 py-3 ps-3 text-primary linear-gradient">Informations de la structure</h2>
				</div>

				<div class="col-12 col-md-6 mb-3">
					<label for="structure_name" class="form-label">Nom</label>
					{{ form_widget(form.name) }}
				</div>
				<div class="col-12 mb-3">
					<label for="structure_description" class="form-label">Description</label>
					{{ form_widget(form.description) }}
				</div>
				<div class="col-12 mb-3">
					<label for="structure_address" class="form-label">Adresse</label>
					{{ form_widget(form.address) }}
				</div>
				<div class="col-12 col-md-6 mb-3">
					<label for="structure_postCode" class="form-label">Code postal</label>
					{{ form_widget(form.postCode) }}
				</div>
				<div class="col-12 col-md-6 mb-3">
					<label for="structure_city" class="form-label">Ville</label>
					{{ form_widget(form.city) }}
				</div>
				<div class="col-12 col-md-6 mb-3">
					<label for="structure_phone" class="form-label">Téléphone</label>
					{{ form_widget(form.phone) }}
				</div>
				<div class="col-12 col-md-6 mb-3">
					<label for="structure_franchise" class="form-label">Nom de la franchise</label>
					<div id="select-wrapper">
						{{ form_widget(form.franchise) }}
					</div>
				</div>
				<div class="col-12 mb-3">
					<h2 class="my-5 fs-3 mb-5 py-3 ps-3 text-primary linear-gradient">Options de la structure</h2>
				</div>

				{% set disabled = '' %}
				{% for feature in form.feature %}
					{% set checkboxStatus, break, index = '', false, feature.vars.value %}
					{% for inactiveFeature in allInactiveFeatures %}
						{% if break == false %}
							{% if index == inactiveFeature.id  %}
								{% set disabled, break = 'disabled', true %}
							{% else %}
								{% set disabled = '' %}
							{% endif %}
						{% endif %}
					{% endfor %}
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-start justify-start-md-center">
						{{ form_widget(feature, {'disabled': disabled, 'checked': checkboxStatus}) }}
					</div>
				{% endfor %}
				{# <div class="col-12 mb-3">
																	{{ form_widget(form.feature, {'class': 'form-check-input', 'type': 'checkbox'}) }}
																</div> #}
				{{ form_rest(form) }}
			</div>
			<div class="row mt-5 mb-3">
				<div class="col-6 col-lg-2 offset-lg-8 d-flex justify-content-end">
					<a type="button" href="{{ path('app_structure') }}" class="btn btn-secondary justify-content-center pe-3 w-100">
						Annuler
					</a>
				</div>
				<div class="col-6 col-lg-2 d-flex justify-content-end">
					<button class="btn btn-primary justify-content-center w-100">
						Ajouter
					</button>
				</div>
			</div>
		</div>
		{{ form_end(form) }}
	</main>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('handle_globals_permissions') }}
{% endblock %}
