{% extends 'base.html.twig' %}

{% block title %}Liste des commerciaux - Sport Center
{% endblock %}


{% block body %}
	{% set queryParams = app.request.query.all %}

	{# <pre>
																														{{ dump(queryParams) }}
																														{{ dump(queryString) }}
																													</pre> #}

	{% set searchValue = '' %}
	{% set checkedStatusActive = '' %}

	{% if queryParams is not empty%}
		{% if queryParams.search is defined %}
			{% set searchValue = queryParams.search %}
		{% endif %}

		{% if queryParams.opt is defined and queryParams.opt == 'true' %}
			{% set checkedStatusActive = 'checked' %}
		{% endif %}
	{% endif %}

	<main class="commercial_page">
		<div class="container">
			<div class="row m-0 p-0">
				<div class="col-12 px-0">
					<h1 class="my-5 text-uppercase text-center anim-title-js">Liste des commerciaux</h1>
				</div>
				<div class="col-12 mb-4 px-0">
					<div class="row p-0 m-0 d-flex align-items-center">
						<div class="col-12 col-lg-4 d-flex justify-content-start order-3 order-lg-0 px-0">
							<div class="input-group">
								<input type="text" id="search-input" class="form-control" placeholder="Rechercher..." aria-label="Rechercher" aria-describedby="input-search" value="{{ searchValue }}">
								<span class="input-group-text bg-primary" id="input-search">
									<img src="{{ asset('build/images/search_icon.svg') }}" alt="icone rechercher" class="icon-btn">
								</span>
							</div>
						</div>
						<div class="col-6 col-lg-3 d-flex justify-content-end justify-content-lg-start order-2 order-lg-0 mb-3 mb-lg-0 ps-0 ps-lg-3 px-0">
							<div class="form-check form-switch my-3 my-lg-0">
								<label class="form-check-label" for="switch-filter-active">Commercial active
								</label>
								<input class="form-check-input" type="checkbox" id="switch-filter-active" {{ checkedStatusActive }}>
							</div>
						</div>
						<div class="col-6 col-lg-5 d-flex justify-content-start justify-content-lg-end mb-3 mb-lg-0 px-0">
							<a type="button" class="btn btn-primary btn-add-item me-3" href="{{ path('app_commercial_new') }}">
								<img src="{{ asset('build/images/plus_icon.svg') }}" alt="icone plus" class="icon-btn me-0 me-sm-2">
								<span class="d-none d-sm-block">
									Ajouter un commercial
								</span>
							</a>
							<button class="btn btn-primary btn-display-card me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Format cards">
								<img src="{{ asset('build/images/card_icon.svg') }}" alt="icone cards" class="icon-btn">
							</button>
							<button class="btn btn-primary btn-display-list" data-bs-toggle="tooltip" data-bs-placement="top" title="Format table">
								<img src="{{ asset('build/images/list_icon.svg') }}" alt="icone list" class="icon-btn">
							</div>
						</div>
					</div>
					<div id="commercial-list-content" class="list-content px-0">
						{% include "pages/commercial/_commercial-list.html.twig" %}
					</div>
				</div>

				{# {% include "_partials/_modal.html.twig" with {'modal_title': 'Confirmation', 'modal_body': '', 'modal_label_btn': ''} %} #}
			</div>
		</div>
	</main>
	{% include "_partials/_modal.html.twig" with {'modal_title': 'Confirmation', 'modal_body': '', 'modal_label_btn': ''} %}


{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('anim_title') }}
	{{ encore_entry_script_tags('filters') }}
	{{ encore_entry_script_tags('handle_modal') }}
	{{ encore_entry_script_tags('tooltips')}}
{% endblock %}
