{% for user in users %}
	{% if ('ROLE_ADMIN' in user.roles) %}
		{% set statusUser = 'Administrateur' %}
	{% endif %}
	{% if ('ROLE_COMMERCIAL' in user.roles) %}
		{% set statusUser = 'Commercial' %}
	{% endif %}
	{% if ('ROLE_MANAGER_FRANCHISE' in user.roles) %}
		{% set statusUser = 'Manager Franchise' %}
	{% endif %}
	{% if ('ROLE_MANAGER_STRUCTURE' in user.roles) %}
		{% set statusUser = 'Manager Structure' %}
	{% endif %}

	<div class="col-12 col-lg-6 col-xxl-4 mb-3 px-0">
		<div
			class="card card-user mb-3 justify-content-between">
			{# <div class="card-header d-flex justify-content-center mb-3 border-active  {{ 'ROLE_COMMERCIAL' in commercial.roles ? 'border-active' : 'border-inactive' }}"> #}
			<div class="card-header d-flex justify-content-center mb-3 border-active  {{ user.isBlocked == false ? 'border-active' : 'border-inactive' }}">
				<h3 class="card-title d-flex align-items-center text-center mb-0">{{user.lastname|upper}}<br/>{{user.firstname|capitalize}}</h3>
			</div>
			<div class="card-body px-4 pb-4">
				<div class="row mb-3">
					<div class="col-6">
						<span class="user-label text-uppercase">Email</span>
					</div>
					<div class="col-12">
						{{ user.email }}
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-6">
						<span class="user-label text-uppercase">Status</span>
					</div>
					<div class="col-6">
						{{ statusUser}}
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-6">
						<span class="user-label text-uppercase">Téléphone</span>
					</div>
					<div class="col-6">
						{{ user.phone|formatPhone }}
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-6">
						<span class="user-label text-uppercase">Date de création</span>
					</div>
					<div class="col-6">
						{{ user.createdAt|date('d/m/Y')}}
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-6">
						<span class="user-label text-uppercase">Date de mise à jour</span>
					</div>
					<div class="col-6">
						{% if user.updatedAt is defined and user.updatedAt is not null %}
							{{ user.updatedAt|date('d/m/Y')}}
						{% else %}
							-
						{% endif %}
					</div>
				</div>

				<div class="btns-actions w-100 d-flex flex-column flex-sm-row justify-content-between mb-2 ">
					<a href="{{ path('app_' ~ categoryUser ~ '_edit', {'slug': user.slug}) }}" class="btn btn-info text-secondary justify-content-center me-2 mb-3 mb-sm-0 w-100">
						<img src="{{ asset('build/images/edit_icon.svg') }}" alt="edit icon" class="edit-icon">
						Modifier</a>
					{# {% if 'ROLE_COMMERCIAL' in commercial.roles %} #}
					{% if user.isBlocked == false %}
						<form method="post" action="{{ path('app_' ~ categoryUser ~ '_disable', {'slug': user.slug}) }}" class="card-btn-modal me-2 mb-3 mb-sm-0 w-100">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
							<button type="button" class="btn btn-danger btn-disable text-secondary w-100">
								<img src="{{ asset('build/images/disable_icon.svg') }}" alt="disable icon" class="disable-icon">
								Désactiver
							</button>
						</form>
					{% else %}
						{# <form method="post" action="{{ path('app_user_enable', {'slug': user.slug}) }}" class="card-btn-modal me-2 mb-3 mb-sm-0 w-100"> #}
						<form method="post" action="{{ path('app_' ~ categoryUser ~ '_enable', {'slug': user.slug}) }}" class="card-btn-modal me-2 mb-3 mb-sm-0 w-100">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
							<button type="button" class="btn btn-success btn-enable text-secondary w-100">
								<img src="{{ asset('build/images/enable_icon.svg') }}" alt="enable icon" class="enable-icon">
								Activer
							</button>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endfor %}
