{{ form_start(form, {'attr': {'class': 'form-control, bg-secondary'}}) }}
{{ form_errors(form) }}
<div class="row">
	<div class="col-12 mb-3">
		<h2 class="mb-5 fs-3 py-3 ps-3 text-primary linear-gradient">Informations de la fonctionnalité</h2>
	</div>
	<div class="col-12 col-md-6 mb-3">
		<label for="feature_name" class="form-label">Nom</label>
		{{ form_widget(form.name) }}
	</div>
	<div class="col-12 mb-3">
		<label for="feature_description" class="form-label">Description</label>
		{{ form_widget(form.description) }}
	</div>
</div>
<div class="row mt-5 mb-3">
	<div class="col-6 col-lg-2 offset-lg-8 d-flex justify-content-end">
		<a type="button" href="{{ path('app_franchise') }}" class="btn btn-secondary justify-content-center pe-3 w-100">
			Annuler
		</a>
	</div>
	<div class="col-6 col-lg-2 d-flex justify-content-end">
		<button class="btn btn-primary justify-content-center w-100">
			{{ button_text }}
		</button>
	</div>
</div>
{{ form_end(form) }}
