{% extends 'base.html.twig' %}

{% block title %}Connexion - Sport Center
{% endblock %}

{% block body %}
	<main class="login_page login-form pt-5">
		{% include "_partials/_flashbag.html.twig" %}
		<section class="container d-flex align-items-center justify-content-center flex-column">

			<form method="post" novalidate>
				{% if error %}
					<div class="alert alert-warning fade show shadow alert-msg-login">
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}

				<div class="user-login-icon">
					<img src="{{asset('build/images/user_login_icon.svg')}}" alt="icone login">
				</div>
				<h1 class="h3 mb-4 font-weight-normal text-center">Connexion</h1>
				<div class="input-group">
					<span class="input-group-text" id="email">
						<img src="{{asset('build/images/mail_icon.svg')}}" alt="icone email">
					</span>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email" aria-label="email" aria-describedby="email">
				</div>
				<div class="input-group">
					<span class="input-group-text" id="password">
						<img src="{{asset('build/images/password_icon.svg')}}" alt="icone mot de passe">
					</span>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Mot de passe" aria-label="aria-label=" password" aria-describedby=" password"" aria-describedby="password">
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="btn btn btn-primary w-100 mb-5" type="submit">
					Se connecter
				</button>
			</form>
		</section>
	</main>
{% endblock %}
