{% extends 'base.html.twig' %}

{% block title %}Connexion - Sport Center
{% endblock %}

{% block body %}
	<main class="login_page login-form pt-5">
		<section class="container d-flex align-items-center justify-content-center flex-column">
			<form method="post">
				<div class="user-login-icon">
					<img src="{{asset('build/images/user_login_icon.svg')}}" alt="icone login">
				</div>
				<h1 class="h3 mb-4 font-weight-normal text-center">Réinitialisation<br/>de votre mot de passe</h1>
				{{ form_start(form) }}
				<div class="form-error pb-2">
					{{ form_errors(form.password.first) }}
				</div>
				<div class="input-group">
					<span class="input-group-text" id="password">
						<img src="{{asset('build/images/password_icon.svg')}}" alt="icone mot de passe">
					</span>
					{{ form_widget(form.password.first) }}
				</div>
				<div class="input-group">
					<span class="input-group-text" id="password">
						<img src="{{asset('build/images/password_icon.svg')}}" alt="icone mot de passe">
					</span>
					{{ form_widget(form.password.second) }}
				</div>
				<div class="form-error pb-2">
					{{ form_errors(form) }}
				</div>
				<button class="btn btn btn-primary w-100 mb-5" type="submit">
					Se connecter
				</button>
				{{ form_rest(form) }}
				{{ form_end(form) }}
			</form>
		</section>
	</main>
{% endblock %}
