<table class="table table-md-responsive table-striped table-hover table-dark">
	<thead>
		<tr>
			<th scope="col" class="ps-3 ps-xxl-5">ID</th>
			<th scope="col">Nom</th>
			<th scope="col">Email</th>
			<th scope="col">Date de création</th>
			<th scope="col">Statut</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for franchise in franchises %}
			<tr>
				<th scope="row" class="align-middle ps-3 ps-xxl-5">{{franchise.id }}</th>
				<td class="align-middle">{{franchise.name }}</td>
				<td class="align-middle">{{franchise.manager.email }}</td>
				<td class="align-middle">{{ franchise.createdAt | date('d/m/Y') }}</td>
				<td class="align-middle">{{franchise.isActive ? '<span class="text-success">active</span>' : '<span class="text-danger">inactive</span>' }}</td>
				<td class="align-middle d-flex">
					<a href="{{ path('app_franchise_edit', {'slug': franchise.slug}) }}" class="btn btn-success me-3">
						<img src="{{ asset('build/images/edit_icon.svg') }}" alt="edit icon" class="edit-icon">
					</a>
					{# <a href="#" class="btn btn-danger me-3">
																										<img src="{{ asset('build/images/delete_icon.svg') }}" alt="delete icon" class="delete-icon"
																										</a> #}
					<form
						method="post" action="{{ path('app_franchise_delete', {'slug': franchise.slug}) }}" class="card-btn-modal me-3 ">
						{# <form method="post" action="{{ path('app_franchise_delete', {'id': franchise.id}) }}" class="card-btn-modal me-2 w-100"> #}
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ franchise.id) }}">
						<button type="button" class="btn btn-danger btn-delete text-secondary w-100">
							<img src="{{ asset('build/images/delete_icon.svg') }}" alt="delete icon" class="delete-icon">
						</button>
					</form>
					<a href="{{ path('app_franchise_show', {'slug': franchise.slug}) }}" class="btn btn-info">
						<img src="{{ asset('build/images/view_icon.svg') }}" alt="view icon" class="view-icon">
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table></td></tr>
