{% extends 'base.html.twig' %}

{% block title %}Liste des franchises
{% endblock %}

{# {% block body %}
	{{dump(franchises)}}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="my-5">Liste des filiales</h1>
			</div>
			<div class="row">
				{% for franchise in franchises %}
					<div class="col-12 col-md-4 col-lg-3 mb-3">
						<div class="card" style="width: 18rem;">
							<div class="card-body bg-dark">
								<h3 class="card-title">{{franchise.name}}</h3>
								<p class="card-text">
									<span class="fw-bold">Description :</span>
									<br/>{{franchise.description}}</p>
								<p>
									<span class="fw-bold">franchise :</span>
									{% if franchise.isActive %}Active
									{% else %}
										Inactive
									{% endif %}
								</p>
								<p>
									<span class="fw-bold">Date de création :</span>
									{{ franchise.createdAt|date('d/m/Y')}}
								</p>
								<p class="fw-bold">Liste des options :</p>
								<p>
									{{ dump(franchise) }}
									{{ dump(franchise.permissions) }}
									{% for permission in franchise.permissions %}
										{{ dump(permission.isGlobal ) }}
										{% if permission.isGlobal %}
											{% if permission.isActive is defined and permission.isActive == true %}
												{% set inputChecked = 'checked' %}
											{% else %}
												{% set inputChecked = '' %}
											{% endif %}
											<div class="form-check form-switch">
												<label class="form-check-label" for="switch_{{loop.parent.loop.index}}{{loop.index}}">{{ permission }}
												</label>
												<input class="form-check-input" type="checkbox" id="switch_{{loop.parent.loop.index}}{{loop.index}}" {{inputChecked}}>
											</div>
										{% endif %}
									{% endfor %}
								</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>
	</div>
{% endblock %}
//////////////////////////////////////////////////////////////////////////// #}

{% block body %}
	{% set queryParams = app.request.query.all %}

	{# <pre>
								{{ dump(queryParams) }}
								{{ dump(queryString) }}
							</pre> #}

	{% set searchValue = '' %}
	{% set checkedStatusActive = '' %}

	{% if queryParams is not empty%}
		{% if queryParams.search is defined %}
			{% set searchValue = queryParams.search %}
		{% endif %}

		{% if queryParams.opt is defined and queryParams.opt == 'true' %}
			{% set checkedStatusActive = 'checked' %}
		{% endif %}
	{% endif %}

	<main class="franchise_page">
		<div class="container">
			<div class="row m-0 p-0">
				<div class="col-12 px-0">
					<h1 class="my-5 text-uppercase text-center">Liste des franchises</h1>
				</div>
				<div class="col-12 mb-4 px-0">
					<div class="row p-0 m-0 d-flex align-items-center me-3">
						<div class="col-12 col-lg-4 d-flex justify-content-start px-0">
							<div class="input-group me-3">
								<input type="text" id="search-franchise" class="form-control" placeholder="Rechercher..." aria-label="Rechercher" aria-describedby="input-search" value="{{ searchValue }}">
								<span class="input-group-text bg-primary" id="input-search">
									<img src="{{ asset('build/images/search_icon.svg') }}" alt="icone rechercher" class="search-icon">
								</span>
							</div>
						</div>
						<div class="col-12 col-lg-3 d-flex justify-content-start px-0">
							<div class="form-check form-switch my-3 my-lg-0">
								<label class="form-check-label" for="switch-filter-active">Structure active
								</label>
								<input class="form-check-input" type="checkbox" id="switch-filter-active" {{ checkedStatusActive }}>
							</div>
						</div>
						<div class="col-12 col-lg-5 d-flex justify-content-start justify-content-lg-end px-0">
							<a type="button" class="btn btn-primary me-3" href="{{ path('app_franchise_new') }}">
								Ajouter une franchise
							</a>
							<button class="btn btn-primary btn-display-card-franchise me-3">
								<img src="{{ asset('build/images/card_icon.svg') }}" alt="card icon" class="card-icon">
							</button>
							<button class="btn btn-primary btn-display-list-franchise">
								<img src="{{ asset('build/images/list_icon.svg') }}" alt="list icon" class="list-icon">
							</button>
						</div>
					</div>
				</div>
				<div id="franchise-list-content" class="px-0">
					{% include "pages/franchise/_franchise-list.html.twig" %}
				</div>
			</div>
			{% include "_partials/_modal.html.twig" with {'modal_title': 'Confirmation', 'modal_body': 'Etes vous sur de vouloir supprimer la franchise ?', 'modal_label_btn': 'Effacer'} %}
		</div>
	</main>


{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('handle_modal_delete') }}
	{{ encore_entry_script_tags('filters') }}
{% endblock %}
